@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px oklch(0.956 0.074 107.729) inset;
    -webkit-text-fill-color: oklch(0.138 0.026 174.591);
}

@theme inline {
    --font-michroma: var(--font-michroma);
    --font-orbitron: var(--font-orbitron);
    --font-mono: var(--font-geist-mono, ui-monospace, "Courier New", monospace);
    --font-bitcount: var(--font-bitcount);
}

@theme {
    --color-bgdark: oklch(0.933 0.106 108.297);
    --color-bglight: oklch(0.971 0.073 107.685);
    --color-bgthird: oklch(1.033 0.106 108.297);
    --color-foreground-dark: oklch(0.137 0.052 289.515);
    --color-foreground-light: oklch(0.237 0.052 289.515);
    --color-women-dark: oklch(0.546 0.179 35.76);
    --color-women-light: oklch(0.646 0.179 35.76);
    --color-nonbinary-dark: oklch(0.237 0.095 28.777);
    --color-nonbinary-light: oklch(0.337 0.095 28.777);
    --color-men-dark: oklch(0.610 0.125 74.12);
    --color-men-light: oklch(0.710 0.125 74.12);
    --breakpoint-ms: 44rem;
    --color-one: oklch(0.184 0.036 242.087);
    --color-two: oklch(0.284 0.036 242.087);
    --color-tree: oklch(0.595 0.095 194.87);
    --color-fore: oklch(0.695 0.095 194.87);
    --color-five: oklch(0.439 0.077 74.368);
    --color-six: oklch(0.539 0.077 74.368);
    --color-seven: oklch(0.361 0.148 28.641);
    --color-eight: oklch(0.461 0.148 28.641);
    --color-nine: oklch(0.265 0.074 290.581);
    --color-ten: oklch(0.365 0.074 290.581);
    --color-eleven: oklch(0.673 0.154 14.6);
    --color-twelve: oklch(0.773 0.154 14.6);
    --color-thirteen: oklch(0.561 0.111 75.406);
    --color-forteen: oklch(0.661 0.111 75.406);
    --color-fifteen: oklch(0.344 0.139 28.932);
    --color-sixteen: oklch(0.444 0.139 28.932);
    --color-seventeen: oklch(0.286 0.045 206.7);
    --color-eighteen: oklch(0.386 0.045 206.7);
    --color-nineteen: oklch(0.237 0.095 28.777);
    --color-danger: oklch(0.361 0.148 28.641);
    --color-alert: oklch(0.561 0.111 75.406);
    --color-tip: oklch(0.673 0.154 14.6);
    --color-example: oklch(0.386 0.045 206.7);
}

[data-theme="nautilus"] {
    --color-women-dark: oklch(0.184 0.036 242.087);
    --color-women-light: oklch(0.284 0.036 242.087);
    --color-nonbinary-dark: oklch(0.595 0.095 194.87);
    --color-nonbinary-light: oklch(0.695 0.095 194.87);
    --color-men-dark: oklch(0.444 0.087 70.049);
    --color-men-light: oklch(0.544 0.087 70.049);

    /*--color-nonbinary-dark: oklch(0.685 0.144 243.108);*/
    /*--color-men-dark: oklch(0.871 0.145 85.886);*/

}


[data-theme="jamjar"] {
    --color-women-dark: oklch(0.361 0.148 28.641);
    --color-women-light: oklch(0.461 0.148 28.641);
    --color-nonbinary-dark: oklch(0.265 0.074 290.581);
    --color-nonbinary-light: oklch(0.365 0.074 290.581);
    --color-men-dark: oklch(0.673 0.154 14.6);
    --color-men-light: oklch(0.773 0.154 14.6);
}

[data-theme="lollipopguild"] {
    --color-women-dark: oklch(0.422 0.075 223.997);
    --color-women-light: oklch(0.518 0.071 214.166);
    --color-nonbinary-dark: oklch(0.384 0.139 28.932);
    --color-nonbinary-light: oklch(0.484 0.139 28.932);
    --color-men-dark: oklch(0.425 0.123 137.477);
    --color-men-light: oklch(0.525 0.123 137.477);
    /*--color-women-dark: oklch(0.198 0.115 271.627);*/
    /*--color-women-light: oklch(0.298 0.115 271.627);*/
    /*--color-nonbinary-dark: oklch(0.384 0.139 28.932);*/
    /*--color-nonbinary-light: oklch(0.484 0.139 28.932);*/
    /*--color-men-dark: oklch(0.576 0.166 134.386);*/
    /*--color-men-light: oklch(0.676 0.166 134.386);*/
}

[data-theme="amber"] {
    --color-women-dark: oklch(0.546 0.179 35.76);
    --color-women-light: oklch(0.646 0.179 35.76);
    --color-nonbinary-dark: oklch(0.237 0.095 28.777);
    --color-nonbinary-light: oklch(0.337 0.095 28.777);
    --color-men-dark: oklch(0.610 0.125 74.12);
    --color-men-light: oklch(0.710 0.125 74.12);
}